doctype html
html(lang="ja")
  head
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TDXC5SK');
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title AZRSIX Lab
    meta(name="description" content="アザラボ")
    meta(property="og:title" content="AZRSIX Lab")
    meta(property="og:description" content="アザラボ")
    meta(property="og:url" content="https://azrsix.github.io")
    meta(property="og:image" content="https://azrsix.github.io/img/ogp.png")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="ja_JP")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@azrsix")
    link(rel="icon" href="favicon/favicon.ico")
    link(rel="icon" href="favicon/android-chrome-192x192.png" sizes="192x192" type="image/png")
    link(rel="apple-touch-icon" href="favicon/apple-touch-icon-152x152.png" sizes="152x152")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Cute+Font|Noto+Sans+JP:400,700")
    link(rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nicomoji.css")
    link(rel="stylesheet" href="css/style.min.css")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
      integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB"
      crossorigin="anonymous")
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TDXC5SK" height="0" width="0" style="display:none;visibility:hidden")
    header.portrait_justify-center.bg-white.leading-snug
      .flex.flex-col.flex-center.min-w-full.min-h-half-screen
        .flex.flex-col.flex-center.anim-1
          h1 AZRSIX Lab
          h2.anim-3 アザラボ
          .flex.justify-between.w-full.mt-3.opacity-0.anim-2
            a.btn(href="https://azrsix.hateblo.jp/" target="_blank" rel="noopener" title="Blog")
              i.fas.fa-keyboard
            span.btn
              i.fas.fa-pen
            span.btn.tori
            a.btn(href="https://twitter.com/azrsix" target="_blank" rel="noopener" title="Twitter")
              i.fab.fa-twitter
            a.btn(href="https://github.com/azrsix" target="_blank" rel="noopener" title="GitHub")
              i.fab.fa-github
    main.block.opacity-0.anim-4
      .flex.flex-col.items-center.justify-start.min-w-full.min-h-half-screen
        .flex.portrait_flex-col.w-full
          .box.portrait_w-full.last_mr-0
          .box.portrait_w-full.last_mr-0
            .flex.justify-between
              h3.first_mt-0 About me
              .flex
                a.ml-2.text-2xl(href="https://azrsix.hateblo.jp/" target="_blank" rel="noopener" title="Blog")
                  i.fas.fa-keyboard
                a.ml-2.text-2xl(href="https://twitter.com/azrsix" target="_blank" rel="noopener" title="Twitter")
                  i.fab.fa-twitter
                a.ml-2.text-2xl(href="https://github.com/azrsix" target="_blank" rel="noopener" title="GitHub")
                  i.fab.fa-github
            h4 @azrsix
            p.my-1 常になにかと戦っている気がする鳥類
            ul.flex.flex-wrap.justify-start.mt-2
              li.tag Web
              li.tag JavaScript
              li.tag TypeScript
              li.tag Vue.js
              li.tag Nuxt.js
              li.tag Node.js
              li.tag CSS
              li.tag Sass
              li.tag PostCSS
              li.tag Perl
              li.tag PHP
              li.tag Yokohama
              li.tag Oniku
            p.mt-1.text-xs （たまに増えたり減ったりします）
            h3.first_mt-0 My works
            .flex.flex-wrap.items-baseline
              h4
                a.text-black(href="https://azrsix.github.io/ue-scroll-js/ja/" target="_blank" rel="noopener") ue-scroll.js
              a.mr-1(href="https://azrsix.github.io/ue-scroll-js/ja/" target="_blank" rel="noopener" title="説明書")
                i.fas.fa-home.text-lg
              a.mr-1(href="https://github.com/azrsix/ue-scroll-js" target="_blank" rel="noopener" title="GitHub Repository")
                i.fab.fa-github.text-lg
              span.w-full
              p.works jQueryを使わないタイプの上に戻るボタン
          .box.portrait_w-full.last_mr-0
      .flex.flex-col.items-center.justify-start.min-w-full.min-h-half-screen
    footer.flex.flex-center.absolute.inset-x-0.bottom-0.w-full.text-base.portrait_text-sm.font-bold.text-center.text-f69
      .js-copyright.mb-8 &copy;&nbsp;#[span.js-year 2018]&nbsp;azrsix
    #ue-scroll.ue-scroll.btn-white.arrow-black.circle.shadow
    script(src="js/app.min.js")
